.main {
  font-family: var(--primary-font-family);
  background: var(--main-bg);
  padding: var(--padding-l);
}

.form {
  border-radius: 1rem;
  margin: 0 30%;
  padding: var(--padding-xxl);
  background: #2c2c2c;
}

.title {
  background: #2c2c2c;
  text-align: center;
  font-size: var(--font-size-xxl);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.button,
.input {
  color: var(--secondary-text);
  font-family: var(--secondary-font-family);
  font-size: var(--font-size-m);
  transition: 0.3s ease;
  border: none;
  outline: none;
}

.button {
  background: #3b3b3b;
  border-radius: var(--main-border-radius);
  margin-top: var(--margin-s);
  padding: var(--padding-s) var(--padding-m);
}

.button:hover {
  background: #4b4b4b;
}

.button__facebook,
.button__google {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 1.3rem;
  margin-right: var(--padding-s);
}

hr {
  margin: var(--margin-l) 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #7a7a7a;
}

.input {
  background: transparent;
  width: 100%;
  border-bottom: 2px solid #4b4b4b;
  padding: var(--padding-s) 0;
}

.input:focus {
  border-bottom: 2px solid #7a7a7a;
}

.subtitle {
  font-size: var(--font-size-m);
}

.register {
  color: rgb(73, 190, 190);
  transition: 0.3s ease;
}

.register:hover {
  color: var(--attention-text);
}

.subtitle {
  text-align: center;
  margin-top: var(--margin-m);
}

.subtitle:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1400px) {
  .form {
    margin: 0 20%;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    margin: 0 10%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: var(--padding-l) var(--padding-s);
  }

  .form {
    margin: 0 var(--margin-s);
  }

  .buttons-wrapper {
    flex-direction: column;
  }

  .button__facebook,
  .button__google {
    width: 100%;
  }
}
